@inject Data.AppData AppData
@inject IUsersRepository UsersRepository
@page "/accounts"
@rendermode InteractiveServer

@if (AppData.user is not null && AppData.user.UserId == 1)
{
    <h3>Accounts</h3>
    <table class="table bg-transparent">
        <thead class="bg-transparent">
            <tr>
                <th scope="col" class="bg-transparent">Id</th>
                <th scope="col" class="bg-transparent">Username</th>
                <th scope="col" class="bg-transparent">Password</th>
                <th scope="col" class="bg-transparent">Characters</th>
                <th scope="col" class="bg-transparent"></th>
                <th scope="col" class="bg-transparent"></th>
            </tr>
        </thead>
        <tbody class="bg-transparent">
            @foreach (var user in users)
            {
                <tr>
                    <th scope="row" class="bg-transparent">@user.UserId</th>
                    <td class="bg-transparent">@user.Username</td>
                    <td class="bg-transparent">@user.Password</td>
                    <td class="bg-transparent">
                        @foreach (var character in user.Characters)
                        {
                            <p>@character.CharacterName</p>
                        }
                    </td>
                    <td class="bg-transparent">
                        <a class="btn btn-primary" href="/manage/@user.UserId">Edit</a>
                    </td>
                    <td class="bg-transparent">
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteUser(user.UserId)">Delete</button>
                    </td>
                </tr>
            }
            <tr>
                <th scope="row" class="bg-transparent">Add</th>
                <td class="bg-transparent">
                    <input type="text" id="username" @bind="newuser.Username" class="form-control"></input>
                </td>
                <td class="bg-transparent">
                    <input type="text" id="password" @bind="newuser.Password" class="form-control"></input>
                </td>
                <td class="bg-transparent">
                    <button type="button" class="btn btn-success" @onclick="AddUser">Save Changes</button>
                </td>
                <td class="bg-transparent">
                    @text
                </td>
                <td class="bg-transparent">
                    <button type="button" class="btn btn-light" @onclick="Clear">Clear</button>
                </td>
                @code {

                }
            </tr>
        </tbody>
    </table>
}
else
{
    <p>You are not authorised to view this page.</p>
}

@code {
    public List<User> users = new List<User>();
    private User newuser = new User { Username = "", Password = "" };
    private string text = "";
    protected override void OnParametersSet()
    {
        users = UsersRepository.GetUsers();
    }
    private void DeleteUser(int id)
    {
        UsersRepository.DeleteUser(id);
        users = UsersRepository.GetUsers();
    }
    private void AddUser()
    {
        if (String.IsNullOrWhiteSpace(newuser.Username) || String.IsNullOrWhiteSpace(newuser.Username))
        {
            text = "Add failed. Please ensure username and password are both filled in.";
        }
        else
        {
            text = "User successfully added.";
            UsersRepository.AddUser(newuser);
            users = UsersRepository.GetUsers();
            newuser.Username = "";
            newuser.Password = "";
        }
    }
    private void Clear()
    {
        newuser.Username = "";
        newuser.Password = "";
        text = "";
    }
}
