@page "/manage/{UserId}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject UserManager<User> UserManager
@attribute [Authorize(Roles="Admin")]
<AuthorizeView Roles="Admin">
    <Authorized>
<PageTitle>Mythmaven: Edit User</PageTitle>
    @if (user is not null)
    {
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" @bind="user.UserName" class="form-control"></input>
        </div>
    }
    @if (confirmText)
    {
        <p>Changes saved! <button type="button" class="btn btn-danger" @onclick="ClearAlert">X</button></p>
    }
    <button type="button" class="btn btn-success" @onclick="Update">Save Changes</button>
    <a href="/accounts" class="btn btn-primary">Back</a>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string UserId { get; set; }

    private User? user;

    private bool confirmText = false;

    protected override async Task OnParametersSetAsync()
    {
        user = await UserManager.FindByIdAsync(UserId);
    }

    private async Task Update()
    {
        if (user is not null)
        {
            await UserManager.UpdateAsync(user);
            confirmText = true;
        }
    }
    void ClearAlert()
    {
        confirmText = false;
    }

}
