@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]
@inject ICharactersRepository CharactersRepository

<PageTitle>Mythmaven: Home</PageTitle>

<h1 class="title">Mythmaven: Home</h1>
<AuthorizeView>
    <Authorized>

    <CharacterListComponent characters="characters"></CharacterListComponent>
    <br />
    <br />
    <a href="/create-character" class="btn btn-success">Create Character</a>
    <a href="/import-character" class="btn btn-primary">Import Character</a>
    <br />
    <br />
    <a href="/profile" class="btn btn-primary">My Profile</a>
        <AuthorizeView Roles="Admin" Context="adminContext">
            <Authorized>
                <a href="/accounts" class="btn btn-danger">Manage Accounts</a>
            </Authorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <p>You are logged out.</p>
        <a href="/login" class="btn btn-primary">Log In</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Character>? characters;
    private bool loggedIn = false;
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            loggedIn = true;

            var userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

            if (userId != null)
            {
                characters = CharactersRepository.GetCharactersByUserId(userId);
            }
        }
    }

}