@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager
@page "/profile"
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <h3>Profile: @context.User.Identity?.Name</h3>
    <div class="form-group">
        <label for="username">Change Username</label>
        <input type="text" id="username" @bind="newusername" class="form-control"></input>
        <button type="button" class="btn btn-success" @onclick="UpdateUsername">Save</button>
    </div>
    <div class="form-group">
        <p>Current theme: Default</p>
        <label for="theme">Select Profile Theme</label>
        <select id="theme">
            <option value="Default">Default</option>
            <option value="Bloodstains">Bloodstains</option>
            <option value="Eternity">Eternity</option>
            <option value="Flame">Flame</option>
            <option value="Gilded">Gilded</option>
            <option value="Ice Lichen">Ice Lichen</option>
            <option value="Marshlands">Marshlands</option>
            <option value="Righteous">Rightous</option>
            <option value="Savannah">Savannah</option>
            <option value="Whiteout">Whiteout</option>
            <option value="Wooded">Wooded</option>
        </select>
        <button type="button" class="btn btn-success" @onclick="UpdateTheme">Save</button>
    </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; }
    private string newusername = "";
    private async Task UpdateUsername()
    {
        var authState = await AuthState;
        var userPrincipal = authState.User;

        if (userPrincipal.Identity?.IsAuthenticated == true)
        {
            var user = await UserManager.GetUserAsync(userPrincipal);

            if (user != null && !string.IsNullOrWhiteSpace(newusername))
            {
                user.UserName = newusername;
                await UserManager.UpdateAsync(user);
                newusername = "";
            }
        }
    }
    private void UpdateTheme()
    {
        
    }
}
