<option value="Acolyte">Acolyte</option>
<option value="Fighter">Fighter</option>
<option value="Guardian">Guardian</option>
<option value="Mage">Mage</option>
<option value="Scoundrel">Scoundrel</option>
<option value="Witch">Witch</option>