@rendermode InteractiveServer
@inject ITraitsRepository TraitsRepository

<h3>Create Bonus</h3>
<EditForm Model="bonus" FormName="formBonus" OnValidSubmit="Create">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="amount">Amount</label>
                <InputNumber id="amount" @bind-Value="bonus.Amount" class="form-control"></InputNumber>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="type">Type</label>
                <InputText id="Type" @bind-Value="bonus.Type" class="form-control"></InputText>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="mods">Modifies</label>
                <InputText id="mods" @bind-Value="bonus.Modifies" class="form-control"></InputText>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private Bonus bonus { get; set; } = new Bonus();

    void Create()
    {
        if (bonus.Amount > 0 && !String.IsNullOrWhiteSpace(bonus.Type) && !String.IsNullOrWhiteSpace(bonus.Modifies))
        {
            TraitsRepository.AddBonus(bonus);
        }
    }
}
